* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.full-conainer {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	background-color: rgb(112, 97, 126);
}
header {

}
.header-top {
width: 100%;
height: 50px;
border-top: 1px solid black;
display: flex;
align-items: center;
justify-content: space-between;
}
.header-top-left fa, .fas {
    padding: 0px 10px; 

}
.header-top-right {
display: flex;
justify-content: space-between;
width: 300px;
}
.header-top-right ul {
	display: flex;
}
.header-top-right ul > li {
	padding: 0px 10px;
	list-style: none;
}
.header-top-right ul > li > a {
	text-decoration: none;
	color: rgb(243, 227, 227);	
	font-size: 20px;
}
.header-top-right ul > li > a:hover {
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

.fas {
	font-size: 20px;
	color: rgb(243, 227, 227);	
}

.fab {
	color: rgb(243, 227, 227);	
	font-size: 20px;
	transition: transform .2s;
}
.fab:hover {
	transform: scale(2);
	color: #7910dc;
}
/*header bottom */
.header-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #655971;
	width: 100%;
	height: 92px;
	padding: 18px;
}
.header-bottom-left-logo {

}
.header-bottom-left-logo h2 {
color: #fff;
font-size: 30px;
}
.header-bottom-right {
	height: 60px;
	width: 450px;
}
.header-bottom-right ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	width: 450px;
	height: 60px;
}
.header-bottom-right ul li a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
.header-bottom-right ul li a:hover {
	color: #000;
	font-size: 20px;
	font-weight: bolder;
}
.banner {
	height: 450px;
	width: 100%;
background-image: linear-gradient(to right, rgba(172, 184, 127, 0.912), rgba(157, 255, 0, 0.549));
}
.banner-heading {

	height: 100%;
	width: 100%;
	padding: 50px 0px;
}
.banner-heading h1 {
	font-size: 67px;
	font-weight: normal;
	font-style: italic;
}
.banner-heading h4 {
	width: 749px;
	font-size: 22px;
	font-weight: normal;
	height: 76px;
	line-height: 32px;
	color: #fff;
	margin-bottom: 46px;
}
.banner-heading a {
	text-decoration: none;
	border: 1px solid black;
	padding: 18px 43px;
	margin: 0 12px;
	font-size: 30px;
	display: inline-block;
	color: #8AB73C;
	text-transform: uppercase;
	background: #fff;
	font-weight: bolder;
	transition: all 1s;
}
.banner-heading a:hover {
	color: #ffffff;
	background-color: #8AB73C;
}
.blog-1 {
	background-color: #9BB56E;
	height: 700px;
	width: 100%;
	border: 1px solid #9BB56E;
}
.blog-1 .heading {
	height: 300px;
	width: 100%;
	height: 211px;
}
.blog-1 .heading .center-heading {
	height: 63%;
	width: 84%;
	margin: 112px auto;
}
.blog-1 .heading .center-heading  h1 {
	text-align: center;
	font-size: 30px;
	color: #602424;
	font-weight: 900;
	margin-top: 33px;
}
.blog-1 .heading .center-heading  p {
	font-size: 25px;
	text-align: center;
	line-height: 26px;
	color: #700404;
}
.blog-1-card {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 3px;
	background: #dddcdc45;
	height: 376px;
}
.blog-1-card-1 {
	height: 286px;
	width: 27%;
	border: 1px solid black;
	border-radius: 20px;
	margin: 19px;

	border-radius: 20px;
}
.blog-1-card-1:hover {
	box-shadow: 2px -2px 18px black;
}
.blog-1-card img {
	height: 69px;
	width: 68px;
	position: relative;
	left: 125px;
	top: 32px;
	margin-bottom: 47px;
}
.blog-1-card h2 {
text-align: center;
font-weight: normal;
margin-bottom: 10px;
font-size: 30px;
color: #b5aeae;
}
.blog-1-card p {
	position: relative;
	text-align: justify;
	left: 10px;
	width: 93%;
	line-height: 19px;
	font-size: 18px;
}
/*about us  part*/
.about-us {
	height: 594px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background-color: #919cd1;
}
.about-us-left-content {
	width: 60%;
	position: relative;
	height: 300px;
	top: 156px;
	background-color: #F0F3FD;
}
.about-us-right-content {
	width: 40%;
	margin-top: 108px;
	border: 1px solid aliceblue;
	background: #F0F3FD;
}
.about-us-right-content img{
	height: 409px;
	width: 444px;
	position: relative;
	top: -38px;
	left: 27px;
}
.about-us h2 {
	text-align: center;
	font-size: 32px;
	padding-top: 17px;
	color: #6e7ece;
}
.about-us p {
	margin-top: 25px;
	margin-bottom: 30px;
	font-size: 20px;
	text-align: justify;
	padding: 14px;
	color: #60647c;
}
.about-us a {
	text-decoration: none;
	border: 1px solid #310be8;
	padding: 16px 35px;
	margin-left: 14px;
	background-color: #7370D8;
	color: #fff;
	word-spacing: 8px;
	font-size: 21px;
	transition: all 1s;
	border-radius: 15px;
}
.about-us a:hover {
	background-color: #ffffff;
	color: #310be8;
	border: 1px solid #310be8;

}